<nz-layout class="layout">
  <nz-header class="login-header">
    <app-logo class="logo"></app-logo>
  </nz-header>
  <nz-content class="login-content">
    <div class="login-content-div">
      <div class="login-content-logo"><b>Work Tracking Tool</b>&nbsp;&nbsp;-&nbsp;&nbsp;Login</div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
        <div nz-form-item>
          <div nz-form-control>
            <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-user"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control>
            <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-lock"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control>
            <label nz-checkbox [nzDisabled]="true" formControlName="remember">
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot" disabled="true">Forgot password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </nz-content>
  <nz-footer class="login-footer">Copyright ©2017</nz-footer>
</nz-layout>
