<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- spring配置hibernate -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

        <!-- 配置hibernate属性,把数据库连接的相关信息放到此处配置，通过properties文件加载 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.connection.driver_class">${jdbc.driver}</prop>
                <prop key="hibernate.connection.url">${jdbc.url}</prop>
                <prop key="hibernate.connection.username">${jdbc.user}</prop>
                <prop key="hibernate.connection.password">${jdbc.password}</prop>
            </props>
        </property>

        <!-- 默认配置文件 -->
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />

        <!-- 配置hibernate映射文件的路径，放到这里配置mapping映射文件，可以使用通配符
        <property name="mappingLocations" value="classpath:com/maemn/worklog/model/*.hbm.xml" /> -->
    </bean>

</beans>
